body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Viga";
    margin: 0;
    background-color: #f0f0f0; /* light gray background */
    color: #333; /* dark gray text */
    min-height: 100vh;
}

/* Container */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
}

/* Card Styles */
.card {
    background-color: #337ab7; /* blue-ish background */
    border: none;
    color: #fff; /* white text */
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    background-color: #23527c; /* darker blue-ish background */
    transform: scale(1.05);
    color: #000;
}

.card i {
    color: #a0d5e4; /* light blue-ish icon color */
    transition: color 0.3s;
}

.card:hover i {
    color: #ffffff; /* white icon color on hover */
}

/* Logout Card Styles */
.logout-card {
    background-color: #dc3545; /* red-ish background */
}

.logout-card:hover {
    background-color: #c82333; /* darker red-ish background */
}

.logout-card i {
    color: #f8d7da; /* light red-ish icon color */
}

.logout-card:hover i {
    color: #ffffff; /* white icon color on hover */
}

.card-title {
    font-size: 1.25rem;
}

h1 {
    font-family: 'Source Code Pro', monospace;
}

#logoutButton {
    border-radius: 20%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #337ab7; /* blue-ish background */
    color: #fff; /* white text */
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
}

#logoutButton i {
    margin-right: 5px;
}

#logoutButton:hover {
    background-color: #23527c; /* darker blue-ish background */
    color: #000;
}