body {
  font-family: "Viga";
  margin: 0;
  background-color: #f0f0f0; 
  color: #333; 
}

h1 {
  font-family: 'Source Code Pro', monospace;
}

#backButton {
  background-color: #337ab7;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 20px;
}

#backButton:hover {
  background-color: #23527c; 
}

#backButton i {
  margin-right: 5px;
}

.card {
  background-color: #337ab7; 
  border: none;
  border-radius: 10px;
  color: #fff; 
  padding: 20px;
  transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
  background-color: #23527c;
  color: #000;
}

.card-title {
  font-size: 1.5rem;
  margin-bottom: 5px; 
}

.card-text {
  margin: 0;
  line-height: 1.5;
  margin-bottom: 10px; 
}

.account-actions {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px; 
}

.btn {
  padding: 5px 20px;
  background-color: #23527c;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #337ab7; 
}

.badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.375rem;
  background-color: #337ab7;
}

.badge:hover {
  background-color: #23527c; 
}