body{
    background-color: #001233;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Viga';
    margin: 0;
    padding: 0;
}
 /* navigation bar */

 nav{
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    border: 0px solid;
    border-radius: 10px;
    background-color: #7D8597;
    font-size: 3vh;
}

.subNav-Container{
    display: flex;
    justify-content:  center;
}

.subNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #7D8597;
    font-size: 2.5vh;
    padding: 1vh; 
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.subNav button {
    height: 5vh;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #7D8597;
    margin: 3px;
    padding: 0.5vh; 
    color: white; 
    transition: background-color 0.3s ease; 
    cursor: pointer; 
}

.subNav button:hover {
    background-color: grey;
}

.subNav-Container {
    display: flex;
    justify-content: center;
    margin-top: 2vh; 
}
button {
    height: 5vh;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #7D8597;
    margin: 3px;
}
button:hover{
    height: 5vh;
    width: 100%;
    border: 0;
    background-color:grey;
}

#logo{
    width: 30vh;

} 
.avatar-container{
    display: flex;
    align-items: center;
}
#avatar{
    height: 15vh;
}
#escapeButton,#loginRegisterButton{

    width: 20vh;
    align-self: center;
    padding: 5px 10px; 
    background-color: #323679;
    color: white;
    border: none;
    border-radius: 3px; 
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Viga', sans-serif;
    margin: 10px;
}

#escapeButton:hover {
    background-color: #161a5e;
}
/* Footer */

footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    font-family: cascadia Code;
    
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002855;
}
.footer_image_buttons_container{
    display: flex;
    margin: 7vh; 
}
.footer_image_container{
    display: flex;
    justify-content: center;
}
.footer_image{
    width: 15vh;
}
.footer_buttons_container{
    margin: 5vh;
    display: flex;
    flex-direction: column;
}
.footer_buttons_text{
    color: white;
    font-size: 3vh;
}
.footer_icons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_icon{
    margin: 1vh;
}
.footer_icon_image{
    width:6vh;
}
.footer_copyright{
    background-color: #33415C; 
    color: white;
    font-size: 3vh;
    padding: 2vh;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #acbadb; 
}

::-webkit-scrollbar-thumb {
    background: #6b7897; 
}

::-webkit-scrollbar-thumb:hover {
    background: #32487a; 
}