body{
    background-color: #001233;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
 /* navigation bar */

 nav{
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.subNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    border: 0px solid;
    border-radius: 10px;
    background-color: #7D8597;
    font-size: 3vh;
}

.subNav-Container{
    display: flex;
    justify-content:  center;
}
button {
    height: 5vh;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #7D8597;
    margin: 3px;
}
button:hover{
    height: 5vh;
    width: 100%;
    border: 0;
    background-color:grey;
}

.logo{
    width: 20vh;

} 

#avatar{
    width: 10vh;
}
/* Footer */

footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    font-family: cascadia Code;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #002855;
}
.footer_image_buttons_container{
    display: flex;
    margin: 7vh; 
}
.footer_image_container{
    display: flex;
    justify-content: center;
}
.footer_image{
    width: 15vh;
}
.footer_buttons_container{
    margin: 5vh;
    display: flex;
    flex-direction: column;
}
.footer_buttons_text{
    color: white;
    font-size: 3vh;
}
.footer_icons_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_icon{
    margin: 1vh;
}
.footer_icon_image{
    width:6vh;
}
.footer_copyright{
    background-color: #33415C; 
    color: white;
    font-size: 3vh;
    padding: 2vh;
}