* {
  font-family: "Viga";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    background-color: #acbadb;
    color: #000000; 
}

.custom-button {
  background-color: #0d4156; 
  color: #ffffff; 
  border-radius: 25px; 
  font-size: 18px; 
  padding: 10px 20px; 
  border: none; 
}

.custom-button:hover {
  background-color: #1781aa; 
  color: #ffffff; 
}


