#escapeButton {
    position: absolute;
    top: 5%;
    right: 10%;
    align-self: center;
    padding: 5px 10px; 
    background-color: #323679;
    color: white;
    border: none;
    border-radius: 3px; 
    font-size: 14px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Viga', sans-serif;
    max-width: 200px;
    max-height: 100px;
}

#escapeButton:hover {
    background-color: #161a5e;
}

.introducao-1, .introducao-2, .introducao-3 {
    font-size: larger;
    width: 90vh;
    background-color: #acbadb;
    border: 3px solid #6b7897;
    margin: 20px auto; 
    padding: 20px; 
    box-sizing: border-box;
    text-align: center;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px; 
    overflow: auto; 
    padding: 30px; 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}


.introducao-1 .image{
    float: left; 
    margin-right: 20px; 
    width: 100px; 
    overflow: hidden; 
}

.introducao-2 .image {
    float: right; 
    margin-left: 20px; 
    width: 100px; 
    overflow: hidden; 
}


.introducao-1 img, .introducao-2 img {
    width: 100%; 
    height: auto; 
    border-radius: 10px; 
}

.nome {
    font-weight: bold;
    font-size: 1.2em; 
    margin-bottom: 10px; 
}

.conteudo {
    display: block;
    text-align: left;
    margin-top: 20px; 
    transition: all 0.3s ease;
}

.clear {
    clear: both;
}