
body{
    background-color: #001233;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
/* Carrossel */
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 60%;
    margin: auto
}
.right.carousel-control, .left.carousel-control, .carousel-img{
    border-radius: 10px;
    background-color: 0;
}
/* navigation bar */

nav{
    width: 100%;
    padding: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo{
    width: 20vh;

} 

#avatar{
    width: 15vh;
}

/* site content */
.content{
    background-color: #7D8597;
    width: 70%;
}
.subNav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color:white;
    border: 0px solid;
    border-radius: 10px;
    background-color: #7D8597;
    font-size: 3vh;
}

.subNav-Container{
    display: flex;
    justify-content:  center;
}

button{
    height: 5vh;
    width: 100%;
    border: 0;
    border-radius: 10px;
    background-color: #7D8597;
    margin: 3px;
}
button:hover{
    height: 5vh;
    width: 100%;
    border: 0;
    background-color:grey;
}

/*Posts */

td{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center; 
color: white;
padding: 10px; 
}

img{
width: 50%;
}

p{
width: 60%;
margin: 0;
}
h1{
padding: 0;
margin: 0;
}

#posts{
display: flex;
justify-content: center;
}

.postBar{
display:flex;
flex-direction:row;
align-items: center;
width: 50%; 
border-radius: 10px;
margin: 2vh;
}
