#timer-container {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    font-size: 18px;
}
#navigate-button {
    position: fixed;
    top: 50px;
    right: 10px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007BFF;
    color: white;
}
#navigate-button:hover {
    background-color: #0056b3;
}
